In [2]:
import pandas as pd

In [3]:
X=pd.DataFrame({'city':['tokyo',None,'london','seattle','san francisco','tokyo'],'boolean':['yes','no',None,'no','no','yes'],'ordinal_column':['somthing like','like','something like','like','something like','dislike'],'quantitative_column':[1,11,-.5,10,None,20]})

Description of each column:
1. boolean: This column is represented by binary categorical data (yes/no), and is at the nominal level
* city: This column is represented by categorical data, also at the nominal level
* ordinal_column: As you may have guessed by the column name, this column is represented by ordinal data, at the ordinal level
* quantitative_column: This column is represented by integers at the ratio level

In [6]:
print(X)

            city boolean  ordinal_column  quantitative_column
0          tokyo     yes   somthing like                  1.0
1           None      no            like                 11.0
2         london    None  something like                 -0.5
3        seattle      no            like                 10.0
4  san francisco      no  something like                  NaN
5          tokyo     yes         dislike                 20.0

In [7]:
# take a look at the missing values
X.isnull().sum()

city                   1
boolean                1
ordinal_column         0
quantitative_column    1
dtype: int64

In [9]:
# find out what the most common category is in our city column
X['city'].value_counts().index[0]

'tokyo'

In [10]:
# fill empty slots with most common category
X['city'].fillna(X['city'].value_counts().index[0])

0            tokyo
1            tokyo
2           london
3          seattle
4    san francisco
5            tokyo
Name: city, dtype: object

In [12]:
# TransformerMixin base class to create our own custom categorical imputer
from sklearn.base import TransformerMixin

# instantiate custom class with __init__,fit, and transform methods
class CustomCategoryImputer(TransformerMixin):
    def __init__(self,cols=None):
        self.cols=cols
    
    def transform(self,df):
        X=df.copy()
        for col in self.cols:
            X[col].fillna(X[col].value_counts().index[0],inplace=True)
            return X
            
    def fit(self,*_):
        return self

In [14]:
# Implement our custom categorical imputer on our categorical columns
cci = CustomCategoryImputer(cols=['city','boolean'])

In [15]:
cci.fit_transform(X)

            city boolean  ordinal_column  quantitative_column
0          tokyo     yes   somthing like                  1.0
1          tokyo      no            like                 11.0
2         london    None  something like                 -0.5
3        seattle      no            like                 10.0
4  san francisco      no  something like                  NaN
5          tokyo     yes         dislike                 20.0