In [2]:
# import packages we need for exploratory data analysis (EDA)
import pandas as pd # to store tabular data
import numpy as np # to do some math
import matplotlib.pyplot as plt # a popular data visualization tool
import seaborn as sns # another popular data visualization tool
%matplotlib inline
plt.style.use('fivethirtyeight') # a popular data visualization theme

In [3]:
# load in our dataset using pandas
pima = pd.read_csv('./data/diabetes.csv')
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# Our number of missing values is (incorrectly) 0
pima['Insulin'].isnull().sum() #serum insulin

0

In [5]:
#manually replace all 0's with a None value
pima['Insulin'] = pima['Insulin'].map(lambda x:x if x != 0 else None)

In [6]:
# check the number of mssing values again
pima['Insulin'].isnull().sum()

374

In [13]:
# A little faster now for all columns
columns = ['Insulin','BMI','Glucose','BloodPressure']

for col in columns:
    pima[col].replace([0],[None],inplace=True)

In [16]:
pima.isnull().sum() # this makes more sense now!

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness                 0
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [17]:
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29,NaN,26.6,0.351,31,0
2,8,183.0,64.0,0,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35,168.0,43.1,2.288,33,1

In [19]:
pima.describe() # grab some descriptive statistics

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,768.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,20.536458,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,15.952218,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,0.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,0.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [20]:
pima['Glucose'].mean(), pima['Glucose'].std()

(121.6867627785059, 30.53564107280403)

### Removing Harmful Rows of Data

In [21]:
# drop the rows with missing values
pima_dropped = pima.dropna()